@charset "UTF-8";
/* CSS DOCUMENT */

.hidden {
	display: none;
}

body {
	background-color: white; 
}

#container {
	margin: 0 auto;
	width: 960px;
	height: 1093px;
	overflow: hidden;
	background-color: white;
	padding: 20px 10px;
}


/*-- BODY --*/

body {
	font-family: Georgia, serif, sans-serif;
	font-size: 14px;
}

p {
	font-size: 16px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

#mainHeader
{
	display: flex; /*-- most important start --*/
	flex-direction: row;
	justify-content: flex-start;
}

#mainflex
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#logo
{
	width: 287px;
	height: 121px;
	margin-left: 340px;
	align-items: center;
}

#navCon /*Container*/
{
	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 110px;
	font-size: 15px;
	display: flex;
	align-items: center;
	flex-direction: row; /* felx direction option2 : row 가로 column 세로 */
	justify-content: center;
}

#mainNav
{
	width: 180px;
	height: 45px;
	background: #F08080;
	margin: 0;
	padding: 0;
}

.fontTitle
{
	font-size: 22px;
	text-align: center;
}

.serviceCon1{
	display: flex;
	justify-content: row;
	justify-content: space-around;
}
.serviceCon2{
	display: flex;
	justify-content: row;
	justify-content: space-around;
}

.pinkbox1{
	display: flex;
	width: 449px;
	height: 130px;
	background-color: #d0adad;
	margin-bottom: 20px;
}

.pinkbox2{
	display: flex;
	width: 449px;
	height: 130px;
	background-color: #d0adad;
}

.pinkbox3{
	display: flex;
	width: 449px;
	height: 130px;
	background-color: #d0adad;
}

.pinkbox4{
	display: flex;
	width: 449px;
	height: 130px;
	background-color: #d0adad;
}

.icon
{
	align-items: center;
	margin-top: 32px;
	margin-left: 20px;
}
.desc{
	width: 380px;
	height: 80px;
	margin-left: 20px;
	margin-top: -10px;
}

#contactCon
{
	display: flex;
	width: 900px;
	height: 330px;
	justify-content: row;
	margin-left: 50px;

}

.form
{
	width: 430px;
	height: 262px;

}

.map
{
	margin-left: 120px;

	width: 376px;
	height: 252px;
}


/* FOOTER */
#footerCon 
{
	width: 960px;
	height: 140px;
	display: flex;
	background: #d6b2b2;
	font-size: 12px;
	margin-right: -20px;
	margin-left: -20px;
	margin-bottom: 20px;
}

#subNav
{
	width: 131px;
	height: 112px;

	margin: 0;
	padding: 0;
	
}

.qaCon
{
	display: flex;
	width: 300px;
	height: 129px;
	font-size: 12px;
	justify-content: row;
	justify-content: flex-start;
}

label{
	display: inline-block;
	width: 60px;
	text-align: right;
}
.form{
	font-size: 12px;
}
.buttonclass
{
	width: 50px;
	height: 10px;
	margin-top: 65px;
	margin-left: 10px;
}

#rightflex
{
	display: flex;
	width: 277px;
	height: 95px;
	flex-direction: column;
	margin-top: 35px;
	margin-left: 50px;
}
.socialCon
{
	display: flex;
	flex-direction: row;
	margin-left: 160px;
	margin-right: 80px;
	justify-content: flex-start;

}

.social-up{
	width: 30px;
	height: 65px;

}
.social-down{
	width: 30px;
	height: 65px;
}
.socialIcon1
{
	margin-right: 20px;
}

.socialIcon2
{
	margin-right: 20px;
	margin-left: 5px;
}
.socialIcon3
{
	margin-right: 20px;
}

.socialIcon4
{
	margin-right: 20px;
	margin-left: 5px;
}
.copyright
{
	display: flex;
	width: 300px;
	justify-content: flex-start;


}
.fontSub
{
	font-size: 12px;
	color: white;

}


